
.cast {
    padding-top: 50px;
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;

    @media (max-width: 768px) {
        padding-left: 70px;
     }

    .title {
        margin-bottom: 40px;

        @media (max-width: 768px) {
            text-align: center;
            margin-left: -60px;
         }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
        margin-right: 0px;

        @media (max-width: 768px) {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           grid-gap: 10px;
           justify-content: center;
        }

        &__item {
            flex: 0 0 calc(16.666% - 10px);
            margin-bottom: 20px;
            box-sizing: border-box;
            margin-left: 0px;
            margin-right: 0px;

            @media (max-width: 768px) {
                width: calc(50% - 10px);
                margin-bottom: 20px;
                padding-left: 0;
                box-sizing: border-box;
            }

            &:first-child {
                margin-left: 10px;
            }

            &:last-child {
                margin-right: 10px;
            }

            &__img {
                max-width: 100%;
                height: auto;

                @media (max-width: 768px) {
                    max-width: 100%;
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

    .title--small {
        margin-top: 10px;
    }
}