$corDeFundo: #000;
$corDoTextoTitulo: #6e0303;
$corDoTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #600501;
$corDeFundoBotaoSecundario: #c70b01;
$corDeFundoBotaoPreto: #000;